<div class="content">
    <h1>• Lista de Tarefas •</h1>
    <div class="apresentation">
        <span class="explication">Aplicação desenvolvida com o intuito de ajudar a se organizar com seus afazeres da escola/faculade</span>
        <div class="cards">
            <div class="card">
                <h3>Frontend</h3>
                <div class="language">
                    <a href="https://angular.io/" target="_blank"><img src="../../../assets/img/angular.svg" alt="Logo Angular"></a>
                    <span>Angular 9</span>
                </div>
                <div class="autor">
                    <a href="https://github.com/analaur4" target="_blank"><img src="https://avatars3.githubusercontent.com/u/47335612?s=460&u=3ac6a63d8c86a5e48882db4f92cd0ad96fb84dc0&v=4" alt="Perfil GitHub"></a>
                    <p>
                        <span>•</span> Ana Laura <br>
                        <span>•</span> Desenvolvedora Angular <br>
                        <span>•</span> 19 anos <br>
                        <span>•</span> Estudante de Ciências da Computação
                    </p>
                </div>
            </div>
    
            <div class="card">
                <h3>Backend</h3>
                <div class="language">
                    <a href="https://spring.io/projects/spring-boot" target="_blank"><img src="../../../assets/img/logoSpring.svg" alt="Logo Spring Boot"></a>
                    <span>Java - Spring Boot</span>
                </div>
                <div class="autor">
                    <a href="https://github.com/Guirilima" target="_blank"><img src="https://avatars2.githubusercontent.com/u/46833577?s=460&u=c8216e8d85bc776e9e54b3896ea6c72fcd2b32ad&v=4" alt="Perfil GitHub"></a>
                    <p>
                        <span>•</span> Guilherme Lima <br>
                        <span>•</span> Desenvolvedor Java <br>
                        <span>•</span> 21 anos <br>
                        <span>•</span> Estudante de Ciências da Computação
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
