<div class="content">
    <div class="top-page">
        <div class="new-todo">
            <a routerLink="/todo/create">+ Adicionar nova tarefa</a>
        </div>

        <div class="filter">
            <input type="text" (keydown.enter)="searchMateria()" [(ngModel)]="listMaterias" placeholder="Pesquisar por matéria">
            <button (click)="searchMateria()"><i class="material-icons">search</i></button>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Matéria</th>
                <th>Tarefa</th>
                <th>Data de Entrega</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listItems; let i = index ">
                <td>{{item.materia}}</td>
                <td>{{item.tarefa}}</td>
                <td>{{item.dtEntrega | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.status ? 'Feito' : 'P/ fazer'}}</td>
                <td>
                    <a routerLink="/todo/update/{{ item.id }}"><i class="material-icons">edit</i></a>
                    <i (click)="deleteToDo(item.id)" class="material-icons">delete</i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
